.alert {
    padding: 0.5rem 1.5rem;
    margin: 1rem;
    border-radius: var(--border-radius);
}

.alert.error {
    background-color: #ffcccc;
    color: red;
}

.alert.success {
    background-color: #cce5cc;
    color: green;
}
