.alert {
    padding: 0.5rem 1.5rem;
    margin: 1rem;
    border-radius: var(--border-radius);
}

.alert.error {
    background-color: #ffe5e5;
    color: red;
}

.alert.success {
    background-color: #e5f2e5;
    color: green;
}
