.form-label {
    display: block;
    margin-bottom: 0.6rem;
}

.form-input {
    display: block;
    width: 100%;
    padding: 1rem;
    border-radius: var(--border-radius);
    border: 1px solid lightgray;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 1rem clamp(0.2rem, 2rem, 2rem);
    font: inherit;
    border-radius: var(--border-radius);
    background-color: white;
    box-shadow: var(--box-shadow);
    width: clamp(300px, 40%, 450px);
}

.form-group {
    padding: 1rem;
}

.form-group.error {
    padding-bottom: 0.5rem;
}

.form-input.error {
    border: 1px solid red;
}
