nav {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2;
    padding: 1rem 2rem;
    gap: 1rem;
    background-color: var(--foreground-color-light);
    margin-bottom: 3rem;
    width: 100%;
}

.navbar-link {
    color: white;
    margin-inline: 2rem;
    font: inherit;
}

.navbar-link.active {
    color: bisque;
    font-weight: bold;
}

.navbar-link:hover {
    color: beige;
}
