#root {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
}

main {
    padding-inline: 3rem;
    margin: 0 auto;
}

.logo {
    height: 6em;
    padding: 1.5em;
    will-change: filter;
    transition: filter 300ms;
}
.logo:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
    filter: drop-shadow(0 0 2em #61dafbaa);
}

.card {
    background-color: white;
    padding: clamp(0.2rem, 2rem, 2rem);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    margin: 0 auto;
}

.help-text {
    color: red;
    font-size: small;
    padding-inline: 1rem;
    margin: 0.6rem 0 0;
}

.btn-primary {
    background-color: var(--primary-color);
    color: white;
    padding: 1rem 2rem;
    text-align: center;
    border-radius: var(--border-radius);
    font-size: inherit;
    margin-inline: 2rem;
    border: 1px solid transparent;
    margin: 1rem;
}

.error-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.error-wrapper h1 {
    color: lightgrey;
}

.error-wrapper button {
    padding: 1rem 2rem;
    border-radius: var(--border-radius);
    text-align: center;
    border: 1px solid transparent;
    font-size: inherit;
}

footer {
    margin-top: 2rem;
    text-align: center;
    font-size: small;
}
